.button {
  border-radius: 8px;
  padding: 4px 8px;
}

.default {
  background-color: var(--white);
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
}

.primary {
  background-color: var(--mid-blue);
  border: 1px solid var(--white);
  color: var(--white);
}
