.comment-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.top-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.comment-data {
  display: flex;
  flex-direction: row;
  gap: 8px;
}